pipeline/0517_FilterProperties_simplearray.json
{
	"name": "1705_FilterProperties_simplearray",
	"properties": {
		"activities": [
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Array",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item(),'a')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Properties",
					"value": {
						"value": "@String(activity('Filter1'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Array": {
				"type": "array",
				"defaultValue": [
					"a",
					"b",
					"c"
				]
			}
		},
		"variables": {
			"Properties": {
				"type": "String"
			}
		},
		"folder": {
			"name": "activities_example"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-18T05:39:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}