pipeline/0612_lkp_returns_more_than_5000_rows_child.json
{
	"name": "1206_lkp_returns_more_than_5000_rows_child",
	"properties": {
		"activities": [
			{
				"name": "Fetching records",
				"description": "SELECT\n    id\nFROM\n    dbo.lookup_test\nOFFSET 10 ROWS \nFETCH NEXT 10 ROWS ONLY;",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT\n    id\nFROM\n    dbo.lookup_test\norder by id\nOFFSET ', pipeline().parameters.Offset, ' ROWS FETCH NEXT ',\npipeline().parameters.Fetch, ' ROWS ONLY')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_book_tbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetching records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetching records').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "Value",
											"value": {
												"value": "@string(mul(int(item().id),5))",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Value"
											},
											"sink": {
												"name": "id",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_book_tbl",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_db",
									"type": "DatasetReference",
									"parameters": {
										"Tablename": "lookup_test_dest"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Offset": {
				"type": "string"
			},
			"Fetch": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Scenarios"
		},
		"annotations": []
	}
}