pipeline/0616_validation_folder_example.json
{
	"name": "0616_validation_folder_example",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_input_folder",
						"type": "DatasetReference"
					},
					"timeout": "0.00:01:00",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@String(activity('Validation1'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"msg": {
				"type": "String"
			}
		},
		"folder": {
			"name": "activities_example"
		},
		"annotations": []
	}
}