pipeline/0618_sp_example.json
{
	"name": "0618_sp_example",
	"properties": {
		"activities": [
			{
				"name": "Updating_LoadTimestamp",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Comparing_time_stamps",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_update_loadtimestamp]",
					"storedProcedureParameters": {
						"ts": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get_File_lastModified_timestamp",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_emp_file",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Get_lastloadtime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_db",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": "control_table"
						}
					}
				}
			},
			{
				"name": "Comparing_time_stamps",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_File_lastModified_timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get_lastloadtime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Get_File_lastModified_timestamp').output.LastModified, activity('Get_lastloadtime').output.Firstrow.lastloadtime)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Id",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "id",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "sal",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "sal",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "deptid",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "deptid",
												"type": "Int32",
												"physicalType": "int"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Ds_emp_file",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_emp_table",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "activities_example"
		},
		"annotations": []
	}
}