pipeline/0806_traverse_folders.json
{
	"name": "0806_traverse_folders",
	"properties": {
		"activities": [
			{
				"name": "Set queue",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Queue",
					"value": [
						{
							"name": "/anucontainer/input",
							"type": "Path"
						}
					]
				}
			},
			{
				"name": "Until queue is empty",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set queue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(variables('Queue'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('Queue')[0].type",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Path",
										"activities": [
											{
												"name": "SetCurrentPath",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "CurrentPath",
													"value": {
														"value": "@variables('Queue')[0].name",
														"type": "Expression"
													}
												}
											},
											{
												"name": "Get Metadata1",
												"type": "GetMetadata",
												"dependsOn": [
													{
														"activity": "SetCurrentPath",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "ds_Dynamic",
														"type": "DatasetReference",
														"parameters": {
															"Container": {
																"value": "@variables('CurrentPath')",
																"type": "Expression"
															}
														}
													},
													"fieldList": [
														"childItems"
													],
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"enablePartitionDiscovery": false
													},
													"formatSettings": {
														"type": "DelimitedTextReadSettings"
													}
												}
											},
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Get Metadata1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"variableName": "Queue",
													"value": {
														"value": "@activity('Get Metadata1').output.ChildItems",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"value": "File",
										"activities": [
											{
												"name": "Append variable1",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "FilePaths",
													"value": {
														"value": "@concat(variables('CurrentPath'),'\\',variables('Queue')[0].name)",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Switch1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": []
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"Queue": {
				"type": "Array"
			},
			"CurrentPath": {
				"type": "String"
			},
			"FilePaths": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}