pipeline/1506_validation_example.json
{
	"name": "1506_validation_example",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_emp_file",
						"type": "DatasetReference"
					},
					"timeout": "0.00:01:00",
					"sleep": 10
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Msg",
					"value": {
						"value": "@string(activity('Validation1').output)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Msg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}