pipeline/1606_validation_folder_example.json
{
	"name": "1606_validation_folder_example",
	"properties": {
		"activities": [
			{
				"name": "Validation1",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_Dynamic",
						"type": "DatasetReference",
						"parameters": {
							"Container": "\\anucontainer\\input"
						}
					},
					"timeout": "7.00:00:00",
					"sleep": 10
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Validation1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@String(activity('Validation1'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"msg": {
				"type": "String"
			}
		},
		"annotations": []
	}
}